[user]
  gname = kazukgw
  gemail = kazukgw@gmail.com
  name = kazukgw
  email = kazukgw@gmail.com
[github]
  user = kazukgw
[core]
  gexcludesfile = /Users/kazukgw/.gitignore_global
  geditor = /usr/local/bin/vim
	quotepath = false
[difftool "sourcetree"]
  gcmd = opendiff \"$LOCAL\" \"$REMOTE\"
  gpath =
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
  gcmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  gtrustExitCode = true
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
  gst = status
  gco = checkout
  gcom = commit
	st = status
	co = checkout
	cm = commit
	adda = add --all
  n  = now --all --stat
[filter "media"]
  gclean = git-media-clean %f
  gsmudge = git-media-smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[ghq]
  root = /Users/kazukgw/Projects/src
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
